# Android проекты
*.kt linguist-language=Kotlin
*.java linguist-language=Java
*.xml linguist-language=XML
*.gradle linguist-language=Groovy
*.pro linguist-language=QMake

# Игнорируем билд-файлы и зависимости
app/build/ linguist-vendored
*.apk linguist-detectable=false
build/ linguist-vendored
.gradle/ linguist-vendored
local.properties linguist-detectable=false
*.iml linguist-detectable=false

# Скрываем библиотеку openCV
openCVLib/ linguist-detectable=false
openCVLib/** linguist-detectable=false
openCVLib/* linguist-detectable=false
